* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  margin-left: 1%;
}

h1 {
  text-align: center;
  color: darkblue;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  color: royalblue;
  margin-top: 9px;
}

h3 {
  margin: 5px 0 5px 0;
  color: darkgreen;
}

h4 {
  margin: 10px 0 10px 0;
  color: rgb(44, 164, 44);
}

h5 {
  font-size: medium;
  margin: 10px 0 10px 0;
}

p {
  margin: 10px 0 10px 0;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #74cb70;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px 0;
}

/* Dreh-Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Verstecken */
.hidden {
  display: none;
}

.image {
  border-radius: 15px;
}

.card {
  display: flex;
  align-items: center;
  margin: 0 50px 0 0;
  gap: 20px;
}

.containerThreePictures {
  display: flex;
  flex-direction: row; /* Arrange all pictures within container next to each other */
  gap: 0 50px 0 0; /* Gap arround each picture */
}

.confidenceAndText,
.labelAndText {
  display: flex;
  align-items: center;
  gap: 10px;
}

#displayAsChart {
  margin-top: 50px;
}

#upload {
  margin: 10px 0 15px 0;
}

#errorMessageClassify,
#errorMessageReset {
  color: red;
  margin-bottom: 10px;
}

#preview {
  display: none;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin-bottom: 25px;
}

#classify,
#reset {
  font-size: medium;
  padding: 5px;
  border-radius: 5px;
}

#classify:hover,
#reset:hover {
  background-color: rgb(73, 171, 73);
}

#auswertung {
  margin-top: 50px;
}
